In [6]:
# Імпортування бібліотеки
import pandas as pd

In [10]:
sales = pd.read_excel('sales.xlsx')

In [11]:
sales.head(5)

,CONTINENT,COUNTRY_REGION,DELIVERY_DATE,ORDER_DATE,PRODUCT,QUANTITY,UNIT_PRICE,UNIT_DISCOUNT,UNIT_NET_PRICE,UNIT_COST,PROFIT
0,Asia,China,2008-11-27,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545
1,Asia,China,2008-11-27,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545
2,Asia,China,2008-11-28,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545
3,Asia,China,2008-11-28,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545
4,Asia,China,2008-11-29,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545

In [66]:
# виконання розрахунків
sales['discount'] = sales['UNIT_DISCOUNT'].apply(lambda x: 0 if x == 0 else 1)

# перевірка результату
sales.head(5)

,CONTINENT,COUNTRY_REGION,DELIVERY_DATE,ORDER_DATE,PRODUCT,QUANTITY,UNIT_PRICE,UNIT_DISCOUNT,UNIT_NET_PRICE,UNIT_COST,PROFIT,discount
0,Asia,China,2008-11-27,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545,1
1,Asia,China,2008-11-27,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545,1
2,Asia,China,2008-11-28,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545,1
3,Asia,China,2008-11-28,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545,1
4,Asia,China,2008-11-29,2008-11-21,Cameras,1,188.5,28.28,160.225,86.68,73.545,1

In [67]:
# агрегація даних
orders_qnt = sales.groupby('ORDER_DATE')['QUANTITY'].sum()
orders_discount = sales.groupby('ORDER_DATE')['discount'].sum()

In [60]:
pip install pandas scipy

Requirement already satisfied: pandas in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (2.1.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\oslobodi\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [68]:
# Розрахунок коефіцієнта кореляції Пірсона
pearson_corr, pearson_p_value = pearsonr(orders_qnt, orders_discount)
print(f'Коефіцієнт кореляції Пірсона: {pearson_corr}')
print(f'p-значення (Пірсон): {pearson_p_value}')

Коефіцієнт кореляції Пірсона: 0.3831515115162835
p-значення (Пірсон): 1.1550232621655703e-36

In [69]:
# Інтерпретація результатів
if pearson_p_value < 0.05:
    print('Є статистично значуща лінійна залежність між двома наборами даних (Пірсон).')
else:
    print('Немає статистично значущої лінійної залежності між двома наборами даних (Пірсон).')

Є статистично значуща лінійна залежність між двома наборами даних (Пірсон).